/*body {
    background-attachment: fixed;
    background-image:url(CE-1.jpg);
    background-size: cover;
    height: 100vh;
}*/
@import url('https://fonts.googleapis.com/css?family=Lato:100');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.title {
  margin: 0 auto;
  color: rgb(253, 250, 250); 
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
}

.container {
  width: 100%;
  height: 20%;
  animation: changeBackgroundImage 30s ease-in infinite;
  display: flex;
  align-items: center;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@keyframes changeBackgroundImage {
  0% {
    background-image: url(images/1.jpg);
  }
  25% {
    background-image: url(images/6.jpg);
  }
  50% {
    background-image: url(images/3.jpg);
  }
  75% {
    background-image: url(images/4.jpg);
  }
  100% {
    background-image: url(images/5.jpg);
  }
}
.A {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(226, 214, 214);
}
.B{
float: left;
width: 13%;
}
.E{
  align-content: center;
}

.C {
    display: block;
    color: rgb(20, 19, 19);
    text-align: center;
    padding: 13px 15px;
    text-decoration: solid;
}


.C:hover:not(.active) {
    background-color: rgba(44, 233, 6, 0.884);
  }

  .active {
    background-color: #14bbee;
    display: block;
    color: rgb(20, 19, 19);
    text-align: center;
    padding: 13px 15px;
    text-decoration: solid;   
}

* {
  box-sizing: border-box;
}

.footer {
  position: fixed;
  padding: 2px 10px 10px 10px;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(226, 214, 214);
}

.footer p {
padding-left: 40%;
color: gray;
}

/*==========================slide show styles=============================*/

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /* max-width: 600px; */
  width: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color:  rgba(0,0,0,0.8);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/* search bar */
#searchbar {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 20%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid #14bbee;
  margin-left: 15%;
}


/*---------table styles------------*/
.tb-view {
  margin-top: 5%;
  margin-left: 10%;
}

h1 {
  margin-left: 10%;
  margin-top: 5%;
  color:blue;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*-------card styles-------*/
.column {
  float: left;
  width: 25%;
  padding: 10px;
  margin-left: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 90%;
  margin-left: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 2px 16px;
}
